.DS_Store
.idea/aulas_programacao.iml
/.idea
.idea/codeStyles/codeStyleConfig.xml
.idea/codeStyles/Project.xml
.idea/google-java-format.xml
/Projecto_2/Python_Tkinter_Login_Inseguro_Seguro/exercicio2_login_seguro/__pycache__
/Projecto_2/Python_Tkinter_Login_Inseguro_Seguro/exercicio1_login_inseguro/__pycache__
